//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-3
//Part Number: GW2AR-LV18EQ144C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Sun 11 19 23:27:22 2023

IO_LOC "CLK25M" 25;
IO_PORT "CLK25M" IO_TYPE=LVCMOS33 PULL_MODE=DOWN SINGLE_RESISTOR=ON BANK_VCCIO=3.3;
IO_LOC "PWG" 15;
IO_PORT "PWG" IO_TYPE=LVCMOS33 PULL_MODE=UP SINGLE_RESISTOR=ON BANK_VCCIO=3.3;
IO_LOC "LED_RED" 32;
IO_PORT "LED_RED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LED_GREEN" 33;
IO_PORT "LED_GREEN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LED_BLUE" 34;
IO_PORT "LED_BLUE" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "DB[3]" 99;
IO_PORT "DB[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "DB[2]" 100;
IO_PORT "DB[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "DB[1]" 101;
IO_PORT "DB[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "DB[0]" 102;
IO_PORT "DB[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "KEY[0]" 88;
IO_PORT "KEY[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "KEY[1]" 87;
IO_PORT "KEY[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "KEY[2]" 86;
IO_PORT "KEY[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "KEY[3]" 85;
IO_PORT "KEY[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "Sensor_SCL" 106;
IO_PORT "Sensor_SCL" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Sensor_SDA" 105;
IO_PORT "Sensor_SDA" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "ETH0_RSTN" 140;
IO_PORT "ETH0_RSTN" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ETH_MDC" 139;
IO_PORT "ETH_MDC" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ETH_MDIO" 138;
IO_PORT "ETH_MDIO" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ETH0_RXD[3]" 114;
IO_PORT "ETH0_RXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "ETH0_RXD[2]" 113;
IO_PORT "ETH0_RXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "ETH0_RXD[1]" 112;
IO_PORT "ETH0_RXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "ETH0_RXD[0]" 111;
IO_PORT "ETH0_RXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "ETH0_RXCTL" 110;
IO_PORT "ETH0_RXCTL" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "ETH0_RXCLK" 121;
IO_PORT "ETH0_RXCLK" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "ETH0_TXD[3]" 119;
IO_PORT "ETH0_TXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ETH0_TXD[2]" 118;
IO_PORT "ETH0_TXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ETH0_TXD[1]" 117;
IO_PORT "ETH0_TXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ETH0_TXD[0]" 116;
IO_PORT "ETH0_TXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ETH0_TXCTL" 115;
IO_PORT "ETH0_TXCTL" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ETH0_TXCLK" 120;
IO_PORT "ETH0_TXCLK" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=2.5;

IO_LOC "LCD_RST" 28;
IO_PORT "LCD_RST" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_EN_LED" 27;
IO_PORT "LCD_EN_LED" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_EN_VDD" 26;
IO_PORT "LCD_EN_VDD" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_PWM" 30;
IO_PORT "LCD_PWM" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LVDS_A_OUTP[3]" 66;
IO_PORT "LVDS_A_OUTP[3]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "LVDS_A_OUTP[2]" 64;
IO_PORT "LVDS_A_OUTP[2]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "LVDS_A_OUTP[1]" 62;
IO_PORT "LVDS_A_OUTP[1]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "LVDS_A_OUTP[0]" 60;
IO_PORT "LVDS_A_OUTP[0]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "LVDS_A_OUT_CLK" 56;
IO_PORT "LVDS_A_OUT_CLK" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
