//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.07
//Part Number: GW2AR-LV18EQ144C8/I7
//Device: GW2AR-18C
//Created Time: Tue 03 28 14:51:55 2023

IO_LOC "PWRGOOD" 6;
IO_PORT "PWRGOOD" IO_TYPE=LVCMOS33 PULL_MODE=DOWN SINGLE_RESISTOR=ON;
IO_LOC "CLK_25M" 25;
IO_PORT "CLK_25M" IO_TYPE=LVCMOS33 PULL_MODE=DOWN SINGLE_RESISTOR=ON;
IO_LOC "SWIN" 7;
IO_PORT "SWIN" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "LED_RED" 9;
IO_PORT "LED_RED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "LED_GREEN" 10;
IO_PORT "LED_GREEN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "LED_BLUE" 11;
IO_PORT "LED_BLUE" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;

IO_LOC "MDC" 139;
IO_PORT "MDC" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "MDIO" 138;
IO_PORT "MDIO" IO_TYPE=LVCMOS25 PULL_MODE=UP;

IO_LOC "ETH0_RSTN" 122;
IO_PORT "ETH0_RSTN" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;
IO_LOC "ETH0_LED[2]" 126;
IO_PORT "ETH0_LED[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "ETH0_RXD[3]" 116;
IO_PORT "ETH0_RXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH0_RXD[2]" 117;
IO_PORT "ETH0_RXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH0_RXD[1]" 118;
IO_PORT "ETH0_RXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH0_RXD[0]" 119;
IO_PORT "ETH0_RXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH0_RXCTL" 120;
IO_PORT "ETH0_RXCTL" IO_TYPE=LVCMOS25 PULL_MODE=DOWN;
IO_LOC "ETH0_RXCLK" 121;
IO_PORT "ETH0_RXCLK" IO_TYPE=LVCMOS25 PULL_MODE=DOWN;

IO_LOC "ETH0_TXD[3]" 111;
IO_PORT "ETH0_TXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH0_TXD[2]" 112;
IO_PORT "ETH0_TXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH0_TXD[1]" 114;
IO_PORT "ETH0_TXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH0_TXD[0]" 115;
IO_PORT "ETH0_TXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH0_TXCTL" 110;
IO_PORT "ETH0_TXCTL" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;
IO_LOC "ETH0_TXCLK" 113;
IO_PORT "ETH0_TXCLK" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;


IO_LOC "LCDA[3]" 50;
IO_PORT "LCDA[3]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LCDA[2]" 46;
IO_PORT "LCDA[2]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LCDA[1]" 44;
IO_PORT "LCDA[1]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LCDA[0]" 40;
IO_PORT "LCDA[0]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LCDA_CLK" 64;
IO_PORT "LCDA_CLK" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_PWM" 34;
IO_PORT "LCD_PWM" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24;
IO_LOC "LCD_EN" 35;
IO_PORT "LCD_EN" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24;

