//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.07
//Part Number: GW2AR-LV18EQ144C8/I7
//Device: GW2AR-18C
//Created Time: Mon 08 14 17:45:32 2023

IO_LOC "ETH1_TXD[3]" 134;
IO_PORT "ETH1_TXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH1_TXD[2]" 133;
IO_PORT "ETH1_TXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH1_TXD[1]" 132;
IO_PORT "ETH1_TXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH1_TXD[0]" 131;
IO_PORT "ETH1_TXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH1_TXCTL" 130;
IO_PORT "ETH1_TXCTL" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;
IO_LOC "ETH1_TXCLK" 123;
IO_PORT "ETH1_TXCLK" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;
IO_LOC "ETH1_RSTN" 141;
IO_PORT "ETH1_RSTN" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;
IO_LOC "ETH0_TXD[3]" 119;
IO_PORT "ETH0_TXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH0_TXD[2]" 118;
IO_PORT "ETH0_TXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH0_TXD[1]" 117;
IO_PORT "ETH0_TXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH0_TXD[0]" 116;
IO_PORT "ETH0_TXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH0_TXCTL" 115;
IO_PORT "ETH0_TXCTL" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;
IO_LOC "ETH0_TXCLK" 121;
IO_PORT "ETH0_TXCLK" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;
IO_LOC "ETH0_RSTN" 140;
IO_PORT "ETH0_RSTN" IO_TYPE=LVCMOS25 PULL_MODE=DOWN DRIVE=8;
IO_LOC "LVDS_A_OUTP[3]" 66;
IO_PORT "LVDS_A_OUTP[3]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LVDS_A_OUTP[2]" 64;
IO_PORT "LVDS_A_OUTP[2]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LVDS_A_OUTP[1]" 62;
IO_PORT "LVDS_A_OUTP[1]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LVDS_A_OUTP[0]" 60;
IO_PORT "LVDS_A_OUTP[0]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LVDS_A_OUT_CLK" 56;
IO_PORT "LVDS_A_OUT_CLK" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_RST" 28;
IO_PORT "LCD_RST" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24;
IO_LOC "LCD_EN_LED" 27;
IO_PORT "LCD_EN_LED" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24;
IO_LOC "LCD_PWM" 30;
IO_PORT "LCD_PWM" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24;
IO_LOC "LCD_EN_VDD" 26;
IO_PORT "LCD_EN_VDD" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=24;
IO_LOC "LED_RED" 9;
IO_PORT "LED_RED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "LED_BLUE" 11;
IO_PORT "LED_BLUE" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "LED_GREEN" 10;
IO_PORT "LED_GREEN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "ETH_MDIO" 138;
IO_PORT "ETH_MDIO" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH_MDC" 139;
IO_PORT "ETH_MDC" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "ETH1_RXD[3]" 129;
IO_PORT "ETH1_RXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH1_RXD[2]" 128;
IO_PORT "ETH1_RXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH1_RXD[1]" 126;
IO_PORT "ETH1_RXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH1_RXD[0]" 125;
IO_PORT "ETH1_RXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH1_RXCTL" 124;
IO_PORT "ETH1_RXCTL" IO_TYPE=LVCMOS25 PULL_MODE=DOWN;
IO_LOC "ETH1_RXCLK" 122;
IO_PORT "ETH1_RXCLK" IO_TYPE=LVCMOS25 PULL_MODE=DOWN;
IO_LOC "ETH1_CLKOUT" 135;
IO_PORT "ETH1_CLKOUT" IO_TYPE=LVCMOS25 PULL_MODE=DOWN;
IO_LOC "ETH0_RXD[3]" 114;
IO_PORT "ETH0_RXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH0_RXD[2]" 113;
IO_PORT "ETH0_RXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH0_RXD[1]" 112;
IO_PORT "ETH0_RXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH0_RXD[0]" 111;
IO_PORT "ETH0_RXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "ETH0_RXCTL" 110;
IO_PORT "ETH0_RXCTL" IO_TYPE=LVCMOS25 PULL_MODE=DOWN;
IO_LOC "ETH0_RXCLK" 120;
IO_PORT "ETH0_RXCLK" IO_TYPE=LVCMOS25 PULL_MODE=DOWN;
IO_LOC "ETH0_CLKOUT" 137;
IO_PORT "ETH0_CLKOUT" IO_TYPE=LVCMOS25 PULL_MODE=DOWN;
IO_LOC "LCD_DIM" 29;
IO_PORT "LCD_DIM" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "DB[3]" 99;
IO_PORT "DB[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "DB[2]" 100;
IO_PORT "DB[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "DB[1]" 101;
IO_PORT "DB[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "DB[0]" 102;
IO_PORT "DB[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "CLK25M" 25;
IO_PORT "CLK25M" IO_TYPE=LVCMOS33 PULL_MODE=DOWN SINGLE_RESISTOR=ON;
IO_LOC "PWG" 6;
IO_PORT "PWG" IO_TYPE=LVCMOS33 PULL_MODE=UP SINGLE_RESISTOR=ON;
